<div class="d2"><span style="width:25%;" class="d1"><a href="../tin/LVvsChe.aspx"><img src="../tainguyen/BĐQT/salah.jpg"
                width="250px" height="160px"></a></span><span class="d1" style="margin-top:-25px;float:right;width:70%">
        <h3 style="margin-left:30px;"><a href="../tin/LVvsChe.aspx" style="text-decoration:none;" class="a1">Salah xé
                lưới Chelsea, Liverpool đòi lại ngôi đầu bảng</a></h3>
        <p style="margin-left:30px;color:#808080">Đã hay lại còn may, Liverpool đã chấm dứt 8 trận liên tiếp không thể
            thắng Chelsea trên sân nhà Anfield. Quan trọng hơn, 3 điểm này đã giúp họ lấy lại ngôi đầu từ tay Man City.
        </p>
    </span>
    <a href="../tin/LVvsChe.aspx"> </div>